**1**.**Program** **to find the average of three numbers**

In [1]:
num1=int(input("Enter number 1 : "))
num2=int(input("Enter number 2 : "))
num3=int(input("Enter number 3 : "))
sum=num1+num2+num3
avg=sum/3
print("Average is ",avg)

Enter number 1 : 1
Enter number 2 : 2
Enter number 3 : 3
Average is  2.0

**2.Program to find the sum and average of three numbers**

In [2]:
num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2 : "))
num3=int(input("Enter number 3 : "))
sum=num1+num2+num3
avg=sum/3
print("Sum is ",sum,"and average is",avg)

Enter number 1: 1
Enter number 2 : 2
Enter number 3 : 3
Sum is  6 and average is 2.0

**3.Program to convert the time entered into hours,minutes,seconds**

In [9]:
s=int(input("Enter the time in seconds : "))
hours=s//3600
minutes=(s%3600)//60
seconds=s%60
print("Time is",hours,"hours",minutes,"minutes",seconds,"seconds")

Enter the time in seconds : 5300
Time is 1 hours 28 minutes 20 seconds

**4.Program to find the area and perimeter of triangle**

In [8]:
a=int(input("Enter length of side 1: "))
b=int(input("Enter length of side 2 : "))
c=int(input("Enter length of side 3 : "))
p=a+b+c
s=p/2
area=(s*(s-a)*(s-b)*(s-c))** 0.5
print('The area of the triangle is %0.2f' %area)
print("Perimeter is",p)

Enter length of side 1: 3
Enter length of side 2 : 4
Enter length of side 3 : 5
The area of the triangle is 6.00
Perimeter is 12

**5.Program to find the area of a circle**

In [23]:
r = float(input("Enter the radius of the circle : "))
area = 3.14 * r * r
print('Area of the circle is %0.4f'%area)

Enter the radius of the circle : 1.1
Area of the circle is 3.7994

**6.Program to interchange two unequal numbers without a third variable**

In [34]:
x=int(input("Enter first number : "))
y=int(input("Enter second number : "))
print("Before swapping x = ", x ," y = " , y)
x=x+y
y=x-y
x=x-y
print("After swapping x = ", x , " y = " , y)

Enter first number : 5
Enter second number : 4
Before swapping x =  5  y =  4
After swapping x =  4  y =  5

**7.Program to find the sum,difference,product.quotient,remainder of two unequal numbers**

In [33]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : " ))
sum=a+b
diff=a-b
pro=a*b
quo=a//b
rem=a%b
print("Sum is ",sum,", difference is ",diff,", product is",pro,", quotient is",quo,"and remainder is ",rem)

Enter first number : 7
Enter second number : 3
Sum is  10 , difference is  4 , product is 21 , quotient is 2 and remainder is  1

**8.Program to convert days to years, months , days**

In [35]:
d = int(input("Enter the number of days : "))
years = d//365
months=(d%365)//12
days=(d%365)%30
print(d,"days = " , years , " years", months , " months ", days , " days ")

Enter the number of days : 366
366 days =  1  years 0  months  1  days