#Q1:To find the biggest of two numbers

In [23]:
a = int(input("Enter first number : "))
b= int(input("Enter second number : "))
if(a>b):
  print(a," is greater")
else:
  print(b," is greater" )

Enter first number : -6
Enter second number : 3
3  is greater

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for two positive numbers</td>
    <td class="tg-0pky">4,10</td>
    <td class="tg-0pky">10 is greater</td>
    <td class="tg-0pky">10 is greater</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for two negative numbers</td>
    <td class="tg-0pky">-2,-4</td>
    <td class="tg-0pky">-2 is greater</td>
    <td class="tg-0pky">-2 is greater</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-0pky">Check for one positive and negative number </td>
    <td class="tg-0pky">-6,3</td>
    <td class="tg-0pky">3 is greater</td>
    <td class="tg-0pky">3 is greater</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">Check for a character</td>
    <td class="tg-0pky">1,x</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Pass</td>
  </tr>
</tbody>
</table>

#Q2:To find smallest of three numbers

In [10]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
if(a>b and c>b):
  print(b," is the smallest")
elif(b>a and c>a):
  print(a," is the smallest")
else:
  print(c," is the smallest")

Enter first number: -4
Enter second number: 5
Enter third number: -6
-6  is the smallest

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for three positive numbers</td>
    <td class="tg-0pky">5,9,4</td>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for three negative numbers</td>
    <td class="tg-0pky">-5,-4,-6</td>
    <td class="tg-0pky">-6</td>
    <td class="tg-0pky">-6</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for two positive and one negative</td>
    <td class="tg-0lax">-1,4,5</td>
    <td class="tg-0lax">-1</td>
    <td class="tg-0lax">-1</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a character</td>
    <td class="tg-0lax">x,y</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q3:To find distance between two points on a number line

In [8]:
A=int(input("Enter first point: "))
B=int(input("Enter second point: "))
if(A>B):
  print("Distance is ", A-B)
else:
  print("Distance is ", B-A)

Enter first point: -4
Enter second point: 5
Distance is  9

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for two positive points</td>
    <td class="tg-0pky">5,9</td>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for two negative points</td>
    <td class="tg-0pky">-5,-4</td>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for a positive and a negative point</td>
    <td class="tg-0lax">-4, 5</td>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a character</td>
    <td class="tg-0lax">x,y</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q4:To find whether a number is two digit or not

In [ ]:
a=int(input("Enter number: "))
if(a>9 and a<100):
  print(a," is a two digit number")
elif(a<-9 and a >-100):
  print(a," is a two digit number")
else:
  print(a," is not a two digit number")

Enter number: 20
20  is a two digit number

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for two digit number</td>
    <td class="tg-0pky">20</td>
    <td class="tg-0pky"> 20 is a two digit number</td>
    <td class="tg-0pky"> 20 is a two digit number</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for characters</td>
    <td class="tg-0pky">x</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for a&nbsp;&nbsp;three digit number</td>
    <td class="tg-0lax">100</td>
    <td class="tg-0lax">100 is not a two digit number</td>
    <td class="tg-0lax">100 is not a two digit number</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a negative two digit number</td>
    <td class="tg-0lax">-20</td>
    <td class="tg-0lax">-20 is a two digit number</td>
    <td class="tg-0lax">-20 is a two digit number</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Check for a negative three digit number</td>
    <td class="tg-0lax">-100</td>
    <td class="tg-0lax">-100 is not a two digit number</td>
    <td class="tg-0lax">-100 is not a two digit number</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q5:To check whether a number is positive,negative or zero

In [ ]:
N=int(input("Enter a Number : "))
if N>0 : 
  print('positive')
elif N<0 :
  print('negative')
else : 
  print('zero')

Enter a Number : -4
negative

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for a positive number</td>
    <td class="tg-0pky">20</td>
    <td class="tg-0pky">positive</td>
    <td class="tg-0pky"> positive</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for zero</td>
    <td class="tg-0pky">0</td>
    <td class="tg-0pky">zero</td>
    <td class="tg-0pky">zero</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for a  negative number</td>
    <td class="tg-0lax">-4</td>
    <td class="tg-0lax">negative</td>
    <td class="tg-0lax">negative</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a character</td>
    <td class="tg-0lax">x</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q6:To check whether a number is multiple of another

In [11]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
if(a%b==0):
  print(b," is a multiple of " , a)
elif(b%a==0):
  print(a," is a multiple of " , b) 
else:
  print("Not a multiple")

Enter first number: -5
Enter second number: 10
-5  is a multiple of  10

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for two positive positive numbers</td>
    <td class="tg-0pky">5,10</td>
    <td class="tg-0pky">5 is a multiple of 10</td>
    <td class="tg-0pky">5 is a multiple of 10</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for two negative numbers</td>
    <td class="tg-0pky">-5,-23</td>
    <td class="tg-0pky">Not a multiple</td>
    <td class="tg-0pky">Not a multiple</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for two positive and one negative</td>
    <td class="tg-0lax">-5,10</td>
    <td class="tg-0lax">-5 is a multiple of 10</td>
    <td class="tg-0lax">-5 is a multiple of 10</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a character</td>
    <td class="tg-0lax">6,x</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q7:To find the smallest digit in a two digit number

In [18]:
a=int(input("Enter a two digit number: "))
if(a<0):
  a=-a
else:
  a=a

if(a>9 and a <100):
   b=a//10
   c=a%10
   if(b>c):
     print(c," is smallest")
   else:
      print(b," is smallest")
else:
  print("Not a two digit number")

Enter a two digit number: 23
2  is smallest

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for a positive two digit number</td>
    <td class="tg-0pky">23</td>
    <td class="tg-0pky">2 is smallest</td>
    <td class="tg-0pky">2 is smallest</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for a two negative two digit number</td>
    <td class="tg-0pky">-15</td>
    <td class="tg-0pky">1 is smallest</td>
    <td class="tg-0pky">1 is smallest</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Check for a number not two digit</td>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Not a two digit number</td>
    <td class="tg-0lax">Not a two digit number</td>
    <td class="tg-0lax">Pass</td>
  </tr>
  <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Check for a character</td>
    <td class="tg-0lax">x</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Error</td>
    <td class="tg-0lax">Pass</td>
  </tr>
</tbody>
</table>

#Q8:To find the nature of solution of a quadratic equation

In [22]:
a=int(input("Enter coefficiant of x^2: "))
b=int(input("Enter coefficiant of x: "))
c=int(input("Enter constant: "))
D=b*b-4*a*c
if(D>0):
 print("Equation has two distinct real roots")
elif(D<0):
  print("Equation has no real roots")
else:
  print("Equation has two equal real roots")

Enter coefficiant of x^2: 2
Enter coefficiant of x: 5
Enter constant: 5
Equation has no real roots

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test Case No.</th>
    <th class="tg-0pky">Test Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected Output</th>
    <th class="tg-0pky">Actual Output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check for equation with two distinct real roots</td>
    <td class="tg-0pky">1,-11,-10</td>
    <td class="tg-0pky">Equation has two distinct real roots</td>
    <td class="tg-0pky">Equation has two distinct real roots</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check for equation with two equal real roots<br></td>
    <td class="tg-0pky">4,-28,49</td>
    <td class="tg-0pky">Equation has two equal real roots</td>
    <td class="tg-0pky">Equation has two equal real roots</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-0pky">Check for equation with no real roots<br></td>
    <td class="tg-0pky">2,5,5</td>
    <td class="tg-0pky">Equation has no real roots</td>
    <td class="tg-0pky">Equation has no real roots</td>
    <td class="tg-0pky">Pass</td>
  </tr>
  <tr>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">Check for a character</td>
    <td class="tg-0pky">1,x,y</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Error</td>
    <td class="tg-0pky">Pass</td>
  </tr>
</tbody>
</table>